:root {
    --main-bg-color: brown;
    --main-fg-color: lightgreen;
    --sec-bg-color: #cf8d61;
    --sec-fg-color: #7aff6d;
    --highlight-color: #ff0000;
}

body {
    /*
    background-color: #1d5700;
    */
    margin: 2em auto;
    max-width: 40em;
    width: auto;
    padding: 0 2em;
    font: medium sans-serif;
}

h1,h2,h3 {
    line-height: 1.2;
}

@media print {
    body {
        max-width: none;
    }
}

@h-card-headshot {
    float: left;
    margin-right: 3em;
}

.content {
    /*
    background-color: #000313;
    color: #508ccc;
    */
    width: 40em;
    padding: 2em;
}

/*
a:link {
    color: #b0ff64;
}

a:visited {
    color: #cc508c;
}
*/

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".pdf"]:after { content: " (PDF)"; }

/* If file size specified as data attribute, use that too */
a[href$=".pdf"][data-size]:after { content: " (PDF, " attr(data-size) ")"; }
